<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection</title>
    <link rel="stylesheet" href="../static/Complexity.css">
    <link rel="stylesheet" href="../static/prism.css">
    <link rel="icon" href="../favicon.ico">
    <style>
        .container {
            height: 98%
        }
        .codezone
        {
            height: 420px;
        }
    </style>
</head>

<body>
    <nav id="navbar" class="nav-fixed">
        <div class="logo">
            <img src="../static/logo3.png" alt="">
            <p>AlgoVizz</p>
        </div>
        <div id="options">
            <ul>
                <li class="Homebtn"><a  href="../index.html">Home</a></li>
                <li><a href="Bubble.html">Bubble</a></li>
                <li><a href="Selection.html">Selection</a></li>
                <li><a href="Insertion.html">Insertion</a></li>
                <li><a href="Merge.html">Merge</a></li>
                <li><a href="Quick.html">Quick</a></li>
            </ul>
        </div>
    </nav>

    <section id="sortdetails">
        <div class="main">
            <div class="details">
                <header>How Selection Sort works</header>
                <p class="content">Selection Sort algorithm sorts an array by repeatedly finding the minimum element (considering ascending order) from unsorted part and putting it at the beginning. The algorithm maintains two subarrays, a subarray which is sorted and the remaining array which is unsorted.</p>
                <header>Performence</header>
                <div class="complexity">
                    <p>Assuming N is the size of array,</p>
                    <div class="perform">
                        <div class="per1">
                            <p>Worst time complexity</p>
                            <p>Average time complexity</p>
                            <p>Best time complexity</p>
                            <p>Worst space complexity</p>
                        </div>
                        <div class="per2">
                            <p>O(<span>N<sup>2</sup></span>)</p>
                            <p>θ(<span>N<sup>2</sup></span>)</p>
                            <p>θ(<span>N<sup>2</sup></span>)</p>
                            <p>O(<span>1</span>)</p>
                        </div>
                    </div>
                </div>
                <div class="algotype">
                    <div>
                        <p>Stable</p>
                        <img class="type2" src="../static/unstable.png" alt="">
                    </div>
                    <div>
                        <p>In-place</p>
                        <img class="type1" src="../static/stable.png" alt="">
                    </div>
                </div>
                <div class="moredetails">
                    <a href="https://www.geeksforgeeks.org/selection-sort/" target=”_blank” > Click here for more details </a>
                </div>
            </div>

            <!-- codesec -->
            <div class="codezone">
                <span class="codehead">JAVA Code</span>
                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                        <code class="language-java">
            void sort(int[] arr) {
                int n = arr.length;
                // One by one move boundary of unsorted subarray 
                for (int i = 0; i < n - 1; i++) {
                    // Find the minimum element in unsorted array 
                    int minIdx = i;
                    for (int j = i + 1; j < n; j++) {
                        if (arr[j] < arr[min_idx]) {
                            minIdx = j;
                        }
                    }
                    // Swap the found minimum element with the first element 
                    int temp = arr[minIdx];
                    arr[minIdx] = arr[i];
                    arr[i] = temp;
                }
            } 
            
                        </code>
                    </pre>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="../static/prism.js"></script>
</body>

</html>